In [ ]:
name="viju"
print("my name is",name )
degree="bca"
print("my name is",name,"and my degree is",degree)
age=int(input("enter your age"))
print('age')
print("hello,world")
x=5
y=10
print(x)
print(y)

my name is viju
my name is viju and my degree is bca
enter your age21
age
hello,world
5
10

print(x) #variable assigment

python is case-sensitive

In [ ]:
Name="jhon"
name="jhon"
print(Name,name) #different variables

jhon jhon

indentation matters

In [ ]:
if x > 0:
  print("x is positive") #4 spaces indentation

x is positive

varibales and data types

Numberic data type

In [ ]:
age=25 #int
print(age)
height=5.1 #float
complex_num=3+4j #complex

25

String

In [ ]:
name="vijjj"
message="hello namste"

Boolean type

In [ ]:
is_active=true
is_finished=false

Type checking

In [ ]:
print(type(age)) #<class 'int'>
print(type(height)) #<class "float">
print(type(name)) #<class 'str'>

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
type(age)

int

Type converstion

In [ ]:
str_number ="123"
int_number = int(str_number)
float_number = float(str_number)

print(f"original:{str_number} (type: {type(str_number)})")
print(f"original:{int_number} (type: {type(int_number)})")
print(f"original:{float_number} (type: {type(float_number)})")

original:123 (type: <class 'str'>)
original:123 (type: <class 'int'>)
original:123.0 (type: <class 'float'>)

Exercise 1:

In [ ]:
first_name = "Vijayalakshmi"
last_name = "Hiremath"
age = 20
height = 5
is_student = True

first_name

Print Formatted information

In [ ]:
print(f"Name: {first_name} {last_name}")
print(f"Age: {age}")
print(f"height: {height} feet")
print(f"Student:{is_student}")

Name: Vijayalakshmi Hiremath
Age: 20
height: 5 feet
Student:True

Type conversions

In [ ]:
age_str = str(age)
height_int =int(height)
print(f"age as string: {age_str}")
print(f"height as integer: {height_int}")

age as string: 20
height as integer: 5

Operators and Basics Operations

In [ ]:
a =10
b = 3
print(f"Addition: {a} + {b} = {a + b}")
print(f"Subtraction:{a} - {b} = {a - b}")
print(f"Multipication: {a} * {b} = {a * b}")
print(f"Division: {a} / {b} = {a / b}")
print(f"Floor Division: {a} // {b} = {a // b}")
print(f"Modulus: {a} % {b} = {a % b}")
print(f"exponentiation: {a} ** {b} = {a ** b}")

Addition: 10 + 3 = 13
Subtraction:10 - 3 = 7
Multipication: 10 * 3 = 30
Division: 10 / 3 = 3.3333333333333335
Floor Division: 10 // 3 = 3
Modulus: 10 % 3 = 1
exponentiation: 10 ** 3 = 1000

Order of operation(PEMDAS)


*   p - Parentheses
*   E - Exponents
*   M - Multipication
*   D - Division
*   A - Addition
*   S - Subtraction

In [ ]:
result = 2+3*4**2-1
print(f"2 + 3 * 4 ** 2 - 1 ={result} ")

2 + 3 * 4 ** 2 - 1 =49

Relational Operators (or) Comparison

In [ ]:
x = 5
y = 10
print(f"{x} == {y}: {x == y}")
print(f"{x} != {y}: {x != y}")
print(f"{x} < {y}: {x < y}")
print(f"{x} > {y}: {x > y}")
print(f"{x} <= {y}: {x <= y}")
print(f"{x} >= {y}: {x >= y}")

5 == 10: False
5 != 10: True
5 < 10: True
5 > 10: False
5 <= 10: True
5 >= 10: False

String comparison

In [ ]:
name1 = "alice"
name2 = "bob"
print(f"'{name1}' < '{name2}': {name1 < name2}")

'alice' < 'bob': True

Logical operators

In [ ]:
p = True
q = False

print(f"p and q: {p and q}") #both must be true
print(f"p or q: {p or q}") # atleast one must be true
print(f" not p: { not p }") #opposite of p

p and q: False
p or q: True
 not p: False

In [ ]:
# Pratical example

age = 28
has_license = True
can_drive = age >= 18 and has_license
print(f"can drive: {can_drive}")

can drive: True

In [ ]:
# Multiple conditions
score = 85
is_present = True
can_pass = score >= 80 and is_present
print(f"can pass: {can_pass}")

can pass: True

Hands-on Exercise
Exercise2: Simple Calculator

create a calculator that checks if a person qualifies for a loan

In [ ]:
#personal information
age = 25
annual_income = 50000
credit_score = 720
has_collateral = True

In [ ]:
#loan criteria
min_age = 18
min_income = 30000
min_credit_score = 650

In [ ]:
# check qualification

age_qualified = age >= min_age
income_qualified = annual_income >= min_income
credit_qulification = credit_score >= min_credit_score
overall_qualified = age_qualified and income_qualified and credit_qualification

Data Structures


lists



* Creating lists

In [ ]:
fruits = ["apple","banana","orange","grape"]
numbers = [10, 20 , 30, 40, 50]
mixed_data = [1, "hello",3.14,True]

list indexing (0-based)

In [ ]:
print(f"First fruit: {fruits[0]}")
print(f"last fruit: {fruits[-1]}")
print(f"second to last: {fruits[-2]}")

First fruit: apple
last fruit: grape
second to last: orange

list slicing

In [ ]:
print(f"first 2 fruits:{fruits[0:2]}")
print(f"last 2 fruits:{fruits[-2:]}")
print(f"all except fruits:{fruits[1:]}")

first 2 fruits:['apple', 'bannan']
last 2 fruits:['orange', 'grape']
all except fruits:['bannan', 'orange', 'grape']

list methods

In [ ]:
fruits.append("kiwi") #add to end
fruits.insert(1,"strawberry") #insert at index
removed = fruits.pop() #remove last
print(f"updated list: {fruits}")
print(f"removed: {removed}")

updated list: ['apple', 'strawberry', 'bannan', 'orange', 'grape']
removed: kiwi

list operations

In [ ]:
print(f"Length: {len(fruits)}")
print(f"Contains 'apple': {'apple' in fruits}")
print(f"Index of 'grape': {fruits.index('grape')}")

Length: 5
Contains 'apple': True
Index of 'grape': 4

Tuples

tuples are immutable

In [ ]:
coordinates = (10,20)
rgb_color = (255,128,0)
person_info = ("alice",25,"engineer",True)

tuple unpacking

In [ ]:
X, Y = coordinates
print(f"X: {X}, Y: {Y}")

X: 10, Y: 20

tuple methods

In [ ]:
print(f"count of 25: {person_info.count(25)}")
print(f"index of 'engineer': {person_info.index('engineer')}")

count of 25: 1
index of 'engineer': 2

Why we use Tuples?


1.  immutable(safe for dictionary keys)
2.  slightly faster than lists
1.  good for fixed than lists
2.   List item

Dictionaries

Dictinory creation

In [ ]:
person = {
    "name": "Ajay Hiremath",
    "age" : 28,
    "profession" : "priest",
    "salary" : 100000,
    "skills" : ["multilanguage", "singer", "talented"]
    }

Acessing values

In [ ]:
print(f"name: {person['name']}")
print(f"age: {person.get('age','unknown')}")

name: Ajay Hiremath
age: 28

Dictinory methods

In [ ]:
print(f"Keys: {list(person.keys())}")
print(f"Values: {list(person.values())}")
print(f"Items: {list(person.items())}")

Keys: ['name', 'age', 'prifession', 'salary', 'skills']
Values: ['Ajay Hiremath', 28, 'priest', 100000, ['multilanguage', 'singer', 'talented']]
Items: [('name', 'Ajay Hiremath'), ('age', 28), ('prifession', 'priest'), ('salary', 100000), ('skills', ['multilanguage', 'singer', 'talented'])]

Adding/updating

In [ ]:
person["location"] = "New York"
person["salary"] = 80000 #updating existing

practial use case: inventory management

In [ ]:
inventory = {
    "laptops": {
        "quantity":50,
        "price":999.99
    },
"phones": {
    "quantity":100,
    "price":599.99
},
    "tablets": {
        "quantity":30,
        "price": 399.99
    },
}

Nested access

In [ ]:
print(f"Laptop prive:${inventory['laptops']['price']}")

Laptop prive:$999.99

Sets

Sets contain unique elements

In [ ]:
colors = {"red","green","blue","red"}
print(f"colors: {colors}")

colors: {'blue', 'red', 'green'}

set operations

In [ ]:
team1_skills = {"python","javascript","sql","react"}
team2_skills = {"javascript","sql","java","spring"}

comman operations

In [ ]:
print(f"comman skills: {team1_skills.intersection(team2_skills)}")
print(f"All skills: {team1_skills.union(team2_skills)}")
print(f"Team1 only: {team1_skills.difference(team2_skills)}")

comman skills: {'javascript', 'sql'}
All skills: {'java', 'python', 'javascript', 'spring', 'sql', 'react'}
Team1 only: {'python', 'react'}

Adding to sets

In [ ]:
colors.add("yellow")
colors.update(["purple","orange"])
print(f"Updated colors: {colors}")

Updated colors: {'purple', 'red', 'orange', 'blue', 'yellow', 'green'}

Control flow statments

Conditional statments

Basis if-else

In [ ]:
def get_grade_letter(scope):
  if score >= 98:
    return "A"
  elif score >= 80:
    return "B"
  elif score >= 70:
    return "C"
  elif score >=60:
    return "D"
  else:
    return "F"

Test the function

In [ ]:
test_scores = [95, 83, 72, 65, 58]
for score in test_scores:
  grade = get_grade_letter(score)
  print(f"score {score}: Grade {grade}")

score 95: Grade B
score 83: Grade B
score 72: Grade C
score 65: Grade D
score 58: Grade F

Nested conditions

In [ ]:
def get_shipping_cost(weight,distance):
  base_count = 5.8

  if weight <= 1:
    weight_cost = 2.0
  elif weight <= 5:
    weight_cost = 5.0
  else:
    weight_cost = 10.0

  if distance <= 100:
    distance_cost = 1.0
  elif distance <= 500:
    distance_cost = 3.0
  else:
    distance_cost = 7.0
  return base_count + weight_cost + distance_cost

Test shipping costs

In [ ]:
print(f"Light,close:  ${get_shipping_cost(0.5,50)}")
print(f"Heavy,far: ${get_shipping_cost(10,800)}")

Light,close:  $8.8
Heavy,far: $22.8
Light,close:  $8.8
Heavy,far: $22.8

Loops: for loop

Basic for loop

In [ ]:
fruits = ["apple", "banana", "orange", "grape"]
for fruit in fruits:
  print(f"I Like {fruit}")

I Like apple
I Like banana
I Like orange
I Like grape

loop with enumerate (get index)

In [ ]:
for i, fruit in enumerate(fruits):
  print(f"{i+1}. {fruit}")

1. apple
2. banana
3. orange
4. grape

loop with range

In [ ]:
for day in range(1, 8):
  print(f"Day {day} of then week")

Day 1 of then week
Day 2 of then week
Day 3 of then week
Day 4 of then week
Day 5 of then week
Day 6 of then week
Day 7 of then week

Nested loops -creating a multiplication table

In [ ]:
print(f"Multipication table")
for i in range(1, 6):
  for j in range(1, 6):
    product = i * j
    print(f"{i} x {j} = {product:2d}",end=" ")
    print()

Multipication table
1 x 1 =  1
1 x 2 =  2
1 x 3 =  3
1 x 4 =  4
1 x 5 =  5
2 x 1 =  2
2 x 2 =  4
2 x 3 =  6
2 x 4 =  8
2 x 5 = 10
3 x 1 =  3
3 x 2 =  6
3 x 3 =  9
3 x 4 = 12
3 x 5 = 15
4 x 1 =  4
4 x 2 =  8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
5 x 1 =  5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25

processing data with loops

In [ ]:
sales_data = [
    {"product": "Laptop","price":999,"quantity":5},
    {"product": "Phone","price":599,"quantity":10},
    {"product": "Tablet","price":399,"quantity":8},

]

total_revenue = 0

for item in sales_data:
  item_revenue = item["price"] * item["quantity"]
  total_revenue += item_revenue
  print(f"{item['product']}: ${item_revenue}")

print(f"Total Revenue: ${total_revenue}")

Laptop: $4995
Phone: $5990
Tablet: $3192
Total Revenue: $14177

loops-while loop

while loop for user input simulation

In [ ]:
def simple_guessing_game():
  target = 7
  guess = 0
  attempts = 0
  print(f"guess the number between 1 and 10!")

  while guess != target:

    #simulate user input
    import random
    guess = random.randint(1,10)
    attempts += 1

    if guess < target:
     print(f"guess {attempts}: {guess} - too low!")
    elif guess > target:
      print(f"guess {attempts}: {guess} - too high!")
    else:
      print(f"guess {attempts}: {guess} - correct!")

    #saftely check
    if attempts > 10:
      print("max attempts reached")
      break

  print(f"guess finished in {attempts} attempts")

simple_guessing_game()

guess the number between 1 and 10!
guess 1: 5 - too low!
guess 2: 1 - too low!
guess 3: 1 - too low!
guess 4: 9 - too high!
guess 5: 7 - correct!
guess finished in 5 attempts

while loop for processing

In [ ]:
def process_queue():
  queue = ["task 1","task 2", "task 3", "task 4"]

  while queue:
    current_task = queue.pop(0)
    print(f"processing: {current_task}")

    print(f"remaining tasks: {len(queue)}")

  print("all tasks completed!")

process_queue()

processing: task 1
remaining tasks: 3
processing: task 2
remaining tasks: 2
processing: task 3
remaining tasks: 1
processing: task 4
remaining tasks: 0
all tasks completed!

Function based

basic function defination

In [ ]:
def greet(name):
  return f"hello,{name}!"

function call

In [ ]:
message = greet("viju")
print(message)

hello,viju!

Function with multiple parameters

In [ ]:
def calculate_area(length, width):
  area = length * width
  return area

Text the function

In [ ]:
room_area = calculate_area(12, 10)
print(f"room area: {room_area} square feet")

room area: 120 square feet

Function with default parameters

In [ ]:
def create_user_profile(name,age=18,location="unknown",active=True):
  return{
    "name": name,
    "age": age,
    "locaton": location,
    "active": active

}

Different ways to cell

In [ ]:
profile1 = create_user_profile("alice")
profile2 = create_user_profile("bob",25)
profile3 = create_user_profile("charile", location="new york",age=30)

print(profile1)
print(profile2)
print(profile3)

{'name': 'alice', 'age': 18, 'locaton': 'unknown', 'active': True}
{'name': 'bob', 'age': 25, 'locaton': 'unknown', 'active': True}
{'name': 'charile', 'age': 30, 'locaton': 'new york', 'active': True}

Advanced function concepts

function returning multiple values

In [ ]:
def analyze_text(text):
  words = text.split()
  word_count = len(words)
  char_count = len(text)
  char_count_no_spaces = len(text.replace(" ",""))

  return word_count, char_count, char_count_no_spaces

test with sample text

In [ ]:
sample_text = "Python is a powerful programmimg language"

words,chars, chars_no_space = analyze_text(sample_text)

print(f"text: '{sample_text}'")
print(f"word count: {words}")
print(f"character count: {chars}")
print(f"characters (no spaces): {chars_no_space}")

text: 'Python is a powerful programmimg language'
word count: 6
character count: 41
characters (no spaces): 36

variable_length arguments

In [ ]:
def calculate_average(*numbers):
  if not numbers:
    return 0

    return sum(numbers) / len(numbers)

Test with different numbers of arguments

In [ ]:
avg1 = calculate_average(10, 20, 30)
avg2 = calculate_average(5, 15, 25, 35, 45)
avg3 = calculate_average(100)

print(f"average of 10, 20, 30: {avg1}")
print(f"average of 5, 15, 25, 35, 45: {avg2}")
print(f"average of 100: {avg3}")

average of 10, 20, 30: None
average of 5, 15, 25, 35, 45: None
average of 100: None

Keyword arguments

In [ ]:
def create_report(**data):
  print("=== REPORT ===")

  for key, value in data.items():
    print(f"{key.replace('_',' ').title()}: {value}")

  print("===============")


create_report(
    title="Montly sales Report",
    data="2024-01-01",
    total_sales=15000,
    new_customers=25,
    returning_customers=150

)

=== REPORT ===
Title: Montly sales Report
Data: 2024-01-01
Total Sales: 15000
New Customers: 25
Returning Customers: 150
===============

Lamda function


Lambda with multiple arguments

regular function

In [ ]:
def square(x):
  return x ** 2

lambda equivalent

In [ ]:
square_lambda = lambda x: x ** 2
print(f"Regular function: {square(5)}")
print(f"Lambda function: {square_lambda(5)}")

Regular function: 25
Lambda function: 25

Lambda with multiple aruguments

In [ ]:
multiply = lambda x, y: x * y
print(f"multiply: {multiply(3, 4)}")

multiply: 12

lambda with built-in functions

In [ ]:
numbers = [1, 2, 3, 4, 5,]
squared = list(map(lambda x: x**2, numbers))
print(f"squared numbers: {squared}")

squared numbers: [1, 4, 9, 16, 25]

Filtering with lambda

In [ ]:
ages =  [16, 21, 35, 12, 45, 18, 67]
adults = list(filter(lambda age: age >= 18, ages))
print(f"adult ages: {adults}")

adult ages: [21, 35, 45, 18, 67]

sorting with lambda

In [ ]:
people = [
    {"name": "alice", "age": 30},
    {"name": "bob", "age":25},
    {"name": "charu", "age": 35}
]
sorted_people = sorted(
    people,
    key=lambda person: person["age"])
print("people sorted ny age")

for person in sorted_people:
  print(f"{person['name']}: {person['age']}")

people sorted ny age
bob: 25
alice: 30
charu: 35